.main-content .topbar {
	background-color: #f5f5f5;
	margin-bottom: 15px;
}

#ordersinfo_length {
	margin-left: 15px;
}

#ordersinfo_filter {
	margin-right: 15px;
}

.outside table th {
    vertical-align: middle;
}

.left-bar {
	display: none;
	position: absolute;
	background-color: #fff;
	width: 35%;
	z-index: 10;
}

.main-content {
	width: 100%;
}

.details ul li {
	padding-bottom: 20px;
    padding-right: 10px;
}

@media screen and (min-width: 768px) {
	.details {
	    margin: 0px;
	    float: left;
	    width: 20%;
	}

	.left-bar {
		display: block;
		position: relative;
		width: 18%;
	}

	.main-content {
		width: 82%;
	}

	.toggler {
		display: none;
	}
}